.wrapper {
    padding: 0px 0px;
    background: var(--white);


}

.header-container {
    max-width: 1440px;


}

.header-top {
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    height: 17px;
    max-width: 380px;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-top: 42px;
    padding-bottom: 37px;

}

.menu-item {
    max-width: 40px;

}

.item {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header-logo-content {
    display: flex;
    width: 95px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-bottom: 31px;
}

.heaeder-logo {
    padding-top: 33px;
    padding-left: 100px;
    gap: 26px;
    align-items: center;
    padding-bottom: 38px;


}

.search-tool {
    max-width: 155px;
    height: 35px;
}

.input {
    max-width: 153px;
    height: 33px;
    border-radius: 10px;
    background: var(--button-hover, rgba(217, 217, 217, 0.35));
    border: none;
    align-items: center
}

.logo-button {
    background: none;
    border: none;
}

.header-main {
    background: var(--beige);
    width: 1440px;
    height: 536px;
}

.header-content {
    display: flex;
    align-items: center;
    padding-left: 113px;
    padding-right: 113px;

}

.header-image {
    width: 421px;
    height: 536px;
    flex-shrink: 0;
}

.header-title {
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    text-align: center;
}

.header-logan {
    color: #000;
    text-align: center;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section {
    width: 1440px;
}

.title-section {
    width: 446px;
    height: 58px;
    color: var(--black);
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600px;
    line-height: normal;
    padding: 60px 497px;
}

.card-section {
    display: flex;
    gap: 24px;
    padding-left: 100px;
    padding-right: 100px;
}

.card {
    width: 397px;
    height: 561px;
    padding-bottom: 36px;
}

.img-card {
    width: 397px;
    height: 496px;
    background: lightgray 50%, cover no-repeat;
    padding-bottom: 26px;
}

.card-description {
    text-align: center;
    color: var(--black);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 36px;
    align-items: center;
}

.card-button {
    display: inline-flex;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 304px;
    padding-left: 239px;
    padding-right: 239px;
}

.button {
    border-radius: 20px;
    background: var(--beige);
    border: none;
    width: 118px;
    height: 48px;
}

.product-detail {
    text-align: center;
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}